.dashboard_words {
    width: 78.5%;
    margin: auto;
    background-color: #E3DBB6;
    padding: 2%;
    border-radius: 15px;
    color: #561926;
}


.words_header {
    margin: 2% 7% 2% 2%;
    text-align: center;
}

.word {
    list-style: none;
    text-align: center;
    margin-right: 5%;
}