h1 {
    font-family: 'Righteous', cursive;
    margin: 1%;
}

.navbarlink, .header {
    color: white;
}

.navbarlink {
    margin: 1%;
    font-size: x-large;
}

a {
    text-decoration: none;
}

header {
    background-color: #D43332;
    padding: 1%;
    text-align: center;
}

.userName {
    color: white;
    font-weight: bold;
    font-size: larger;
}